<!DOCTYPE html>
<html ng-app="registerApp" ng-controller="registerCtrl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Angular Register Test</title>
        <link href="https://fonts.googleapis.com/css?family=Rubik:500,700" rel="stylesheet">
        <link rel="stylesheet" href="css/main.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.0/zxcvbn.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </head>
    <body>

        <div class="wrapper">
            <form class="register" name="register" autocomplete="off" ng-submit="regSubmit()" novalidate>
                <div class="register-box">
                    <div class="register-head">
                        <h1>Account Registration</h1>
                    </div>
                    <div class="register-input">
                          <label for="email">Email</label>
                          <input type="email" id="email" name="email" tabindex="1" ng-model="email" ng-blur="emailBlur()">
                          <div class="register-input-notice email" ng-class="classes.email" dynamic="notices.email"></div>
                    </div>
                    <div class="register-input">
                        <label for="password">Password</label>
                        <div class="password-check">
                            <div class="seg" ng-repeat="n in [0,1,2,3]" ng-class="pwcheck[$index+1]"></div>
                        </div>
                        <input type="password" id="password" name="password" tabindex="2" ng-model="password" ng-change="passChange()" ng-blur="passBlur()" ng-model-options="{ debounce: 150 }">
                        <div class="register-input-notice password" ng-class="classes.pass" dynamic="notices.pass"></div>
                    </div>
                    <div class="register-input">
                          <label for="confirm">Confirm Password</label>
                          <input type="password" id="confirm" name="confirm" tabindex="3" ng-model="passwordConfirm" ng-blur="passConfirmBlur()">
                          <div class="register-input-notice confirm" ng-class="classes.passc" dynamic="notices.passc"></div>
                    </div>
                    <div class="register-note">
                        We value privacy and we'll never share your information. Also this is a mock form, so it doesn't do anything with your information anyway.
                    </div>
                    <div class="register-input">
                          <button type="submit" id="submit" name="submit" tabindex="4">{{buttonText}}</button>
                    </div>
                </div>
                <div class="register-loader" ng-class="loading">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" viewBox="0 0 60 60">
                        <g class="register-loader-rotate">
                            <circle class="register-loader-main" cx="30" cy="30" r="17" stroke-dasharray="107" stroke-dashoffset="160" />
                        </g>
                    </svg>
                </div>
            </form>
        </div>
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-85703282-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
