<!DOCTYPE html>
<html ng-app="registerApp" ng-controller="registerCtrl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Angular Register Test</title>
        <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="css/main.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.0/zxcvbn.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </head>
    <body>

        <div class="wrapper">
            <form class="register" autocomplete="off">
                <div class="register-box">
                    <div class="register-head">
                        <h1>Account Registration</h1>
                    </div>
                    <div class="register-input">
                          <label for="email">Email</label>
                          <input type="text" id="email" name="email" tabindex="1" ng-model="email" ng-blur="emailBlur($event)">
                          <div class="register-input-notice"></div>
                    </div>
                    <div class="register-input">
                        <label for="password">Password</label>
                        <div class="password-check">
                            <div class="seg"></div>
                            <div class="seg"></div>
                            <div class="seg"></div>
                            <div class="seg"></div>
                        </div>
                        <input type="password" id="password" name="password" tabindex="2"  ng-model="password" ng-change="passChange()" ng-blur="passBlur($event)" ng-model-options="{ debounce: 150 }">
                        <div class="register-input-notice"></div>
                    </div>
                    <div class="register-input">
                          <label for="confirm">Confirm Password</label>
                          <input type="password" id="confirm" name="confirm" tabindex="3" ng-model="passwordConfirm" ng-blur="passConfirmBlur($event)">
                          <div class="register-input-notice"></div>
                    </div>
                    <div class="register-note">
                        We value privacy and we'll never share your information. Also this is a mock form, so it doesn't do anything with your information anyway.
                    </div>
                    <div class="register-input">
                          <button type="submit" id="submit" name="submit" tabindex="4">Register Account</button>
                    </div>
                </div>
            </form>
        </div>

    </body>
</html>
